//====================================================================================================
.main-block {
   //background-color: $mainDarkColor;
   background: url("img/mainpage/main-block/bg.png") center / cover no-repeat;
   @include adaptiveValue("padding-top", 45, 20);
   @include adaptiveValue("padding-bottom", 65, 20);

   // .main-block__container
   &__container {}

   // .main-block__body
   &__body {
      display: grid;
      align-items: start;
      row-gap: rem(40);

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 43, 30);
      }

      @media screen and (min-width: $tablet) {
         grid-template-columns: 1fr percent(635, 1600);
      }
   }

   // .main-block__slider
   &__slider {
      margin: 0 rem(-20);
      padding: 0 rem(20);

   }

   // .main-block__swiper
   &__swiper {
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }

   // .main-block__slide
   &__slide {}

   // .main-block__media
   &__media {}

   // .main-block__advantages
   &__advantages {}


   // .main-block__controll
   &__controll {}

}

//====================================================================================================
.controll-main-block {
   display: inline-grid;
   grid-auto-flow: column;
   align-items: center;
   gap: rem(20);

   // .controll-main-block__dots
   &__dots {
      display: inline-grid;
      grid-auto-flow: column;
      gap: rem(20);

      .swiper-pagination-bullet {
         position: relative;
         cursor: pointer;
         width: rem(15);
         height: rem(40);

         &::after {
            position: absolute;
            content: "";
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: rem(2);
            transition: all 0.4s ease 0s;
            background-color: #fff;
         }

         &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: rem(10);
            height: rem(10);
            background-color: $mainOrange;
            border-radius: 50%;
            opacity: 0;

         }
      }

      .swiper-pagination-bullet-active {

         width: rem(30);
         transition: all 0.4s ease 0s;

         &::after {
            background-color: $mainOrange;
         }

         &::before {
            transition: left 3.3s linear 0s;
            opacity: 1;
            left: rem(20);
         }
      }
   }

   // .controll-main-block__fraction
   &__fraction {}
}

.fraction-controll {
   display: flex;
   align-items: flex-end;
   color: #fff;
   font-weight: 600;

   // .fraction-controll__current
   &__current {
      font-size: rem(24);
      letter-spacing: 0.1em;
      color: $mainOrange;
   }

   // .fraction-controll__all
   &__all {
      font-size: rem(18);
      letter-spacing: 0.1em;
   }
}

//====================================================================================================
.slide-main-block {

   // .slide-main-block__content
   &__content {
      color: #fff;

      @media screen and (min-width: $tablet) {
         padding: 0 rem(40) 0 0;
      }

      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 60, 30);
      }
   }

   // .slide-main-block__title
   &__title {
      font-weight: 700;
      line-height: math.div(46, 36);
      @include adaptiveValue("font-size", 36, 22, 992, 320, 1);

      &:not(:last-child) {
         margin-bottom: em(15, 36);
      }
   }

   // .slide-main-block__sub-title
   &__sub-title {
      line-height: math.div(46, 36);
      @include adaptiveValue("font-size", 36, 22, 992, 320, 1);

      &:not(:last-child) {
         margin-bottom: em(30, 36);
      }
   }

   // .slide-main-block__text
   &__text {
      line-height: math.div(30, 20);
      letter-spacing: 3%;
      @include adaptiveValue("font-size", 20, 16, 992, 320, 1);
   }

   // .slide-main-block__button
   &__button {
      @media screen and (max-width: $mobileSmall) {
         width: 100%;
      }
   }
}

.button {}

//====================================================================================================
.media-main-block {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: rem(15);


   &__body {
      position: relative;
   }

   // .media-main-block__image
   &__image {
      &::before {
         content: "";
         position: absolute;
         top: 0;
         right: 0;
         width: percent(423, 449);
         padding-bottom: percent(423, 449);
         border: 2px solid rgba(255, 255, 255, 0.5);
         border-radius: 50%;
         transform: translate(33%, 15%);
         //transform: matrix(0.5, -0.87, 0.86, 0.5, 0, 0);
      }

      img {
         position: relative;
         z-index: 2;
         max-width: 100%;
      }
   }

   // .media-main-block__tips
   &__tips {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
   }

   // .media-main-block__tip
   &__tip {
      position: absolute;
      width: rem(20);
      height: rem(20);
      cursor: pointer;
      transition: all 0.4s;

      @media screen and (any-hover: hover) {
         &:hover {
            transform: rotate(90deg);
         }
      }

      &::after,
      &::before {
         content: "";
         position: absolute;
         border-radius: 50%;
         background-color: $mainOrange;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }

      &::after {
         opacity: 0.5;
         transform: scale(1.6);
      }


      span {
         //position: relative;
         font-weight: 600;
         font-size: rem(20);
         color: #fff;
         z-index: 2;
         display: flex;
         align-items: center;
         justify-content: center;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }

      // .media-main-block__tip_1
      &_1 {
         top: percent(179, 499);
         left: percent(70, 447);
      }

      // .media-main-block__tip_2
      &_2 {
         top: percent(62, 499);
         right: percent(9, 447);
      }

      // .media-main-block__tip_3
      &_3 {
         right: percent(24, 499);
         bottom: percent(109, 499);
      }
   }
}

//====================================================================================================
.advantages-main {

   // .advantages-main__items
   &__items {
      display: grid;
      grid-template-columns: repeat(4, auto);
      justify-content: space-between;
      grid-column: rem(20);

      @media screen and (max-width: $tablet) {
         grid-template-columns: repeat(2, 1fr);
         row-gap: rem(40);
         justify-items: center;
      }

      @media screen and (max-width: $mobile) {
         grid-template-columns: repeat(1, 1fr);
      }
   }

   // .advantages-main__item
   &__item {
      display: inline-grid;
      gap: rem(17);
      text-align: center;
      max-width: rem(290);
      grid-template-rows: 77px auto;
   }

   // .advantages-main__icon
   &__icon {
      align-self: center;
   }

   // .advantages-main__text
   &__text {
      font-weight: 600;
      font-size: rem(20);
      line-height: math.div(32, 20);
      color: #fff;
   }
}

//====================================================================================================
//====================================================================================================

.catalog-cards {
   @include adaptiveValue("padding-top", 100, 40);
   @include adaptiveValue("padding-bottom", 70, 40);

   // .catalog-cards__container
   &__container {
      display: grid;
      gap: rem(30);

      @media screen and (min-width: $mobileSmall) {
         grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
      }
   }

   // .catalog-cards__item
   &__item {}
}

//====================================================================================================
.item-catalog-cards {
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
   min-height: rem(293);
   position: relative;
   overflow: hidden;
   transition: box-shadow 0.3s ease 0s;

   @media screen and (any-hover: hover) {
      &:hover {
         box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
      }
   }

   // .item-catalog-cards__body
   &__body {
      position: relative;
      z-index: 2;
      @include adaptiveValue("padding", 30, 15);
   }

   // .item-catalog-cards__title
   &__title {
      &:not(:last-child) {
         margin-bottom: em(30, 24);
      }
   }

   // .item-catalog-cards__link-title
   &__link-title {
      display: inline-block;
      position: relative;
      font-weight: 600;
      font-size: rem(24);
      line-height: math.div(34, 24);

      &::after {
         display: block;
         content: '';
         height: rem(2);
         width: rem(68);
         margin-top: rem(15);
         background-color: $mainOrange;

         transition: width 0.3s ease 0s;
      }

      @media screen and (any-hover: hover) {
         &:hover {
            &::after {
               width: 100%;
            }
         }
      }
   }

   // .item-catalog-cards__list
   &__list {}

   // .item-catalog-cards__item-catalog
   &__item-catalog {
      position: relative;
      padding-left: rem(15);

      &::before {
         content: '';
         position: absolute;
         left: 0;
         top: 50%;
         transform: translateY(-50%);
         width: rem(6);
         height: rem(6);
         border-radius: 50%;
         background-color: $mainOrange;
      }

      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }

   // .item-catalog-cards__link
   &__link {
      font-size: rem(18);
      line-height: math.div(24, 18);

      @media screen and (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .item-catalog-cards__image
   &__image {
      width: 100%;
      text-align: right;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      transform: translateY(6%);

      img {
         max-width: 100%;
      }

      @media screen and (min-width: $mobileSmall) {
         position: absolute;
         top: 0;
         right: 0;
         height: 100%;
      }
   }
}

//===================================================================================

.flashlights-cards {
   @include adaptiveValue("padding-bottom", 120, 60);

   // .flashlights-cards__container
   &__container {
      display: grid;
      gap: rem(30);

      @media screen and (min-width: $mobile) {
         grid-template-columns: repeat(auto-fit, minmax(rem(600), 1fr));
      }
   }

   // .flashlights-cards__items
   &__items {}

   // .flashlights-cards__item
   &__item {}
}

.item-flashlight-card {
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
   min-height: rem(293);
   position: relative;
   overflow: hidden;
   transition: box-shadow 0.3s ease 0s;

   @media screen and (any-hover: hover) {
      &:hover {
         box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
      }
   }

   // .item-flashlight-card__body
   &__body {
      position: relative;
      z-index: 2;
      @include adaptiveValue("padding", 30, 20);
   }

   // .item-flashlight-card__title
   &__title {
      font-weight: 600;
      font-size: rem(24);
      line-height: math.div(34, 24);
      color: $mainColor;

      &::after {
         display: block;
         margin-top: rem(15);
         content: '';
         height: rem(2);
         width: rem(68);
         background-color: $mainOrange;
      }

      &:not(:last-child) {
         margin-bottom: em(30, 24);
      }
   }

   // .item-flashlight-card__text
   &__text {
      font-size: rem(18);
      line-height: math.div(27, 18);
      color: $mainColor;

      @media screen and (min-width: em(710)) {
         max-width: rem(263);
      }

      &:not(:last-child) {
         margin-bottom: em(46, 18);
      }
   }

   // .item-flashlight-card__link
   &__link {

      // 
      // padding-left: rem(100);
      // padding-right: rem(100);
      @media screen and (max-width: em(710)) {

         width: 100%;

      }
   }


   // .item-flashlight-card__image
   &__image {
      //width: 100%;
      text-align: right;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      text-align: right;
      transform: translateY(6%);

      img {
         max-width: 100%;
      }

      @media screen and (min-width: em(710)) {
         position: absolute;
         top: 0;
         right: 0;
         height: 100%;
      }
   }
}

//====================================================================================================
.hits-products {
   @include adaptiveValue("padding-top", 50, 40);
   @include adaptiveValue("padding-bottom", 120, 40);

   &_no-bottom {
      padding-top: 0;
   }
}

.sale-products {
   @include adaptiveValue("padding-top", 120, 40);
   @include adaptiveValue("padding-bottom", 120, 40);

   &_no-bottom {
      padding-bottom: 0;
   }
}